body { 
color:black;
 background-color:yellow; 
linear-g
font-family:Arial, Helvetica, sans-serif;


}
ul {display:flex;
justify-content: space-between;
list-style-type: none;
align-items: center;
padding: 16px;
}
a {
    color:black;
    text-decoration: none;
    
}
header img {
    width: 200px;
    height: 200px;
    border-radius: 90%;
    border:5px solid red ;
    box-shadow: 10px 10px 5px black;
}
.center{
 text-align: center;
 
}
.forte{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  
}
footer img{
    width:150px;
    height: 150px;
    border-radius: 90%;
 border: 5px solid  red ;
 box-shadow: 10px 10px 5px black;
}
ul {display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding:0;
    
    }
    footer{
        display:flex ;
        justify-content:center ;
        text-align: center;
        
    }
   .inputBox{
   
    width: 0px;
   }
   nav  ul ul   {display: none;} 
   nav ul li:hover >ul{display: block;}
  
 nav hr{ color: black;}
  
  @media (max-width:800px) {
    .header-1{
        flex-wrap: wrap;
    }
    .um{
        display: block;
    }
  }
  @media (max-width:800px) {
    .main-1{
        flex-wrap: wrap;
    }
    .imputebox{
        display: block;
    }
  }

  @media (max-width:800px) {
    .main-1{
        flex-wrap: wrap;
    }
    .tabela{
        display: block;
    }
  }

  .box{
    overflow-x: auto;
  }
  .tabela{

    overflow-x: auto;
  }
  .um{
    border: 1px solid red;
    border-radius: 2%;
    
  }

  .dois{
    
  }
   ul li:hover{
background: rgb(251, 242, 108);

  }